# На примере данного файла создайте свой файл .env
# Вставьте свои значение вместо примера
# Передайте_ключ_без('' "")
SECRET_KEY=generate_secret_key

# Передайте значение True или False
DEBUG=True

# Впишите данные вашей базы данных PostgreSQL
# Данные ниже для примера
NAME=name_DB_postgresql
USER=postgres_example
PASSWORD=7777_example
HOST=localhost
PORT=5432_example

POSTGRES_DB=name_DB_postgresql
POSTGRES_USER=postgres_example
POSTGRES_PASSWORD=7777_example


# Передайте настройки Redis
CELERY_BROKER_URL=redis://exapmle:6379/0
CELERY_RESULT_BACKEND=redis://example:6379/0

CACHES_LOCATION=example:6379/0

# Передайте настройки для отправки сообщений на email
EMAIL_HOST=smtp.gmail.com(or_your_host)
EMAIL_PORT=587(or_your_port)
EMAIL_USE_TLS=True(or_False)
EMAIL_USE_SSL=False(or_True)
EMAIL_HOST_USER=example@mail.com
EMAIL_HOST_PASSWORD=password_your_email

# Передайте телеграмм токен своего чата ( https://t.me/BotFather )
TOKEN_BOT_TG=33355577www-example_token

# передайте логин своего докер хаб
DOCKER_HUB_USERNAME=examplelogin53

# Передайте довереный адрес вашего хоста
CSRF_TRUSTED_ORIGINS=http://111.111.111.20,https://example.ru